@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #059212;
    --work: #9400FF;
    --personal: var(--primary);
    --light: #EEE;
    --grey: #686D76;
    --dark: #3f3f61;
    --danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --work-glow: 0px 0px 4px rgba(226, 110, 229, 0.75);
    --personal-glow: 0px 0px 4px rgba(155, 236, 0, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background-image: url(img/bg.jfif);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--dark);
}

.top {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.top img {
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

section {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/* 
h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
} */

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title, 
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo h3 {
    color: var(--dark);
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--work);
    box-shadow: var(--work-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--work);
    box-shadow: var(--work-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.options i.case {
    margin-right: 5px; /* Space between icon and text */
    font-size: 18px; /* Adjust the icon size */
    color: var(--work); /* Adjust the icon color */
}

.options i.user {
    margin-right: 5px; /* Space between icon and text */
    font-size: 18px; /* Adjust the icon size */
    color: var(--personal); /* Adjust the icon color */
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    opacity: 0.75;
}

.todo-list h3 {
    color: #171738;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
}

.modal-content p {
    margin: 20px 0;
    font-size: 16px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.modal-actions .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-actions .btn.confirm {
    background-color: #e74c3c;
    color: white;
}

.modal-actions .btn.cancel {
    background-color: #bdc3c7;
    color: white;
}

.hidden {
    display: none;
}

#warning-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ICONS STYLES */
.actions .fas {
    font-size: 16px; /* Adjust size */
    margin-right: 5px; /* Add some space between icon and text */
}

.actions .edit {
    color: #4CAF50; /* Example color for edit */
}

.actions .delete {
    color: #F44336; /* Example color for delete */
}

.empty-message {
    text-align: center;
    color: brown;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.empty-message1 {
    text-align: center;
    color: lavender;
    font-weight: bold;
    font-size: 1.25rem;
    background: -webkit-linear-gradient(#059212, #9400FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.empty-message-image {
    height: 50%;
    width: 50%;
    max-width: 100%; /* Ensures the image is responsive */
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text as well */
}